@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	height: 100vh;
}

body {
	background-color: rgb(236, 225, 223);
}
.content {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: "Poppins", sans-serif;
}

nav {
	overflow: hidden;
	position: fixed;
	top: 0%;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 70px;
	background: rgb(206, 178, 172);
	font-family: "Poppins", sans-serif;
	z-index: 1;
}

.logo {
	color: rgb(83, 56, 49);
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 20px;
	pointer-events: none;
}

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 35%;
}

.nav-links li {
	list-style: none;
}

.nav-links a {
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;
	color: rgb(83, 56, 49);
}

main {
	top: calc(5vh + 70px);
	align-self: center;
	position: relative;
	width: 90%;
	display: flex;
	justify-content: center;
	height: calc(100vh - 70px);
}

.home-content {
	width: 50%;
	height: fit-content;
	padding-right: 5vw;
}

.home-content h1,
.home-content h2 {
	text-align: right;
	color: rgb(83, 56, 49);
}
.home-content h1 {
	font-size: 50px;
}

.home-content h2 {
	font-size: 30px;
}

.carousel {
	width: 50%;
	height: fit-content;
}

.carousel-container {
	position: relative;
	overflow: hidden;
	box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.5);
	border-radius: 15px;
}

.carousel-slide {
	display: flex;
	height: 650px;
	width: 100%;
}

.carousel-slide img {
	object-position: bottom;
	object-fit: cover;
	width: 100%;
}

#prev-btn {
	position: absolute;
	top: 50%;
	z-index: 10;
	left: 5%;
	font-size: 40px;
	color: rgb(206, 178, 172);
	cursor: pointer;
}
#next-btn {
	position: absolute;
	top: 50%;
	z-index: 10;
	right: 5%;
	font-size: 40px;
	color: rgb(206, 178, 172);
	cursor: pointer;
}

footer {
	padding: 20px;
	left: 0;
	bottom: 0;
	height: 15vh;
	width: 100%;
	background-color: rgb(206, 178, 172);
}

footer p {
	font-size: 20px;
	text-align: center;
}
/* https://www.pexels.com/photo/baked-pies-and-bread-in-baskets-4916562/ */
/* https://www.pexels.com/photo/brown-bar-stools-in-front-of-rectangular-table-3262277/ */
/* https://www.pexels.com/photo/brown-wooden-table-and-chairs-3968061/ */
/* https://www.pexels.com/photo/clean-coffee-shop-2467287/ */
/* https://www.pexels.com/photo/people-in-cafe-2788792/ */
