@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
	--light-brown: rgb(236, 225, 223);
	--medium-brown: rgb(206, 178, 172);
	--dark-brown: rgb(83, 56, 49);
	--light-brown-transparent: rgba(236, 225, 223, 0.5);
	--medium-brown-transparent: rgba(206, 178, 172, 0.5);
	--dark-brown-transparent: rgba(83, 56, 49, 0.8);
	--font-used: "Poppins", sans-serif;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	height: 100%;
}

body {
	background-color: var(--light-brown);
	height: 100%;
}

.content {
	display: flex;
	flex-direction: column;
	font-family: var(--font-used);
	height: 100%;
}

nav {
	position: fixed;
	top: 0%;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 70px;
	background: var(--medium-brown);
	font-family: var(--font-used);
	z-index: 1;
}

.logo {
	color: var(--dark-brown);
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 20px;
	cursor: pointer;
}

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 35%;
}

.nav-links li {
	list-style: none;
}

.nav-links a {
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;
	color: var(--dark-brown);
}

footer {
	padding: 20px;
	left: 0;
	bottom: 0;
	height: 15vh;
	width: 100%;
	background-color: var(--medium-brown);
}

footer p {
	font-size: 20px;
	text-align: center;
	color: var(--dark-brown);
}

.home-content {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.home-headers {
	position: absolute;
	top: 100px;
	right: 0px;
	width: auto;
}

.home-headers h1,
.home-headers h2 {
	margin-right: 17vw;
	text-align: right;
	color: var(--dark-brown);
}

.home-headers h1 {
	text-transform: uppercase;
	font-size: 100px;
}

.home-headers h2 {
	text-transform: capitalize;
	font-size: 80px;
}

.home-content img {
	position: relative;
	top: 60px;
	align-self: center;
	height: 70vh;
	filter: hue-rotate(330deg);
	opacity: 0.3;
}

.order-btn {
	align-self: center;
	position: relative;
	top: -100px;
	color: var(--light-brown);
	background-color: var(--dark-brown-transparent);
	border: none;
	border-radius: 15px;
	font-size: large;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
	padding: 10px 15px;
}

.order-btn:hover {
	color: var(--dark-brown);
	background-color: var(--light-brown);
}

.menu-content {
	margin-top: 100px;
	margin-bottom: 70px;
	background-color: var(--light-brown);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

.menu-items {
	display: grid;
	justify-content: center;
	align-content: center;
	border-radius: 50%;
	box-shadow: 10px 10px 10px var(--medium-brown);
	margin: 50px;
	width: 400px;
	height: 400px;
	background-color: var(--dark-brown-transparent);
	overflow: hidden;
}

.menu-items:nth-child(odd) {
	background-image: url(media/coffee-cup.png);
	background-position: center;
	background-size: 80%;
	background-repeat: no-repeat;
}

.menu-items:nth-child(even) {
	background-image: url(media/pexels-chevanon-photography-312418.jpg);
	background-size: cover;
	background-position: bottom;
}

.overlay {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	top: 275px;
	height: 160px;
	width: 400px;
	transition: 0.5s ease-in-out;
	background-color: var(--medium-brown);
	opacity: 0;
}

.menu-items h2 {
	text-align: center;
	text-transform: capitalize;
	font: var(--font-used);
	font-size: 2em;
	color: var(--dark-brown);
}

.menu-items h3 {
	text-align: center;
	text-transform: capitalize;
	font: var(--font-used);
	font-size: 1.5em;
	color: var(--dark-brown);
}

.menu-items a {
	margin: 5px auto;
	width: 120px;
	background-color: var(--dark-brown-transparent);
	color: var(--light-brown);
	border-radius: 15px;
	font-weight: bold;
	font-size: 0.8em;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	padding: 10px;
	font-size: 1em;
}

.buy-btn:hover {
	color: var(--dark-brown);
	background-color: var(--light-brown);
}

.menu-items:hover .overlay {
	opacity: 1;
	top: 120px;
}

.contact-content {
	margin-top: 70px;
	height: 100%;
	background-color: var(--light-brown);
	display: grid;
	justify-content: center;
	align-content: center;
}

.contact-container {
	border-radius: 35px;
	padding: 50px;
	display: flex;
	justify-content: space-around;
	align-content: center;
	background-color: var(--medium-brown);
	width: 70vw;
}

.resto-info *,
.customer-info * {
	font: var(--font-used);
	color: var(--dark-brown);
}

.resto-info,
.customer-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}

.resto-info {
	padding-right: 50px;
}

.customer-info {
	padding-left: 50px;
}

.vertical-line {
	height: calc(100% + 100px);
	position: relative;
	bottom: 50px;
	border-left: thick solid var(--dark-brown);
}

.contact-us h2,
.about-us h2,
.customer-info h2 {
	text-align: center;
	font-size: 2em;
}

.about-us {
	margin-bottom: 1.5em;
}

.contact-list {
	display: flex;
	align-content: center;
	justify-content: space-around;
}

.contact-item {
	text-align: center;
	margin: 1.5em 0;
	list-style: none;
}

.contact-link,
.contact-item h4 {
	font-size: 1.5em;
}
.contact-item h3 {
	font-size: 1.2em;
}

.contact-item:first-child {
	margin: 0;
}

.about-us p {
	text-align: justify;
	font-size: 1.25em;
}

.customer-info {
	justify-content: flex-start;
}

.message-form {
	display: grid;
	justify-content: center;
	grid-template-columns: 25% auto;
}

.message-form * {
	margin: 1.5em 0;
}

.message-form label {
	font-size: 1.25em;
}

.message-form input {
	padding: 0 10px;
	border: none;
	border-radius: 15px;
	background-color: var(--light-brown-transparent);
}

*:focus {
	outline: none;
}

#msg-label {
	margin-bottom: 0.5em;
}

#msg-box {
	background-color: var(--light-brown-transparent);
	resize: none;
	margin: 0;
	grid-row: 5;
	grid-column: 1/-1;
	padding: 10px 15px;
	border: none;
	border-radius: 15px;
}

#submit-msg {
	color: var(--light-brown);
	background-color: var(--dark-brown-transparent);
	padding: 10px 15px;
	justify-self: center;
	font-size: 1.25em;
	grid-column: 1/-1;
	border-radius: 15px;
	border: none;
}

#submit-msg:hover {
	color: var(--dark-brown);
	background-color: var(--light-brown);
}
