@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
	--light-brown: rgb(236, 225, 223);
	--medium-brown: rgb(206, 178, 172);
	--dark-brown: rgb(83, 56, 49);
	--font-used: "Poppins", sans-serif;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	height: 100vh;
}

body {
	background-color: var(--light-brown);
}
.content {
	height: 100vh;
	display: flex;
	justify-content: center;
	font-family: var(--font-used);
}

nav {
	position: fixed;
	top: 0%;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 70px;
	background: var(--medium-brown);
	font-family: var(--font-used);
	z-index: 1;
}

.logo {
	color: var(--dark-brown);
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 20px;

	cursor: pointer;
}

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 35%;
}

.nav-links li {
	list-style: none;
}

.nav-links a {
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;
	color: var(--dark-brown);
}

.home-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.home-headers {
	position: absolute;
	top: 100px;
	right: 0px;
	width: auto;
}

.home-headers h1,
.home-headers h2 {
	margin-right: 17vw;
	text-align: right;
	color: var(--dark-brown);
}

.home-headers h1 {
	font-size: 100px;
}

.home-headers h2 {
	font-size: 80px;
}

.home-content img {
	height: 60vh;
	filter: hue-rotate(330deg);
	opacity: 0.3;
}

.order-btn {
	align-self: center;
	position: relative;
	top: -125px;
	color: var(--light-brown);
	background-color: rgba(83, 56, 49, 0.7);
	border: none;
	border-radius: 15px;
	font-size: large;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
	padding: 10px 15px;
}

.order-btn:hover {
	color: var(--dark-brown);
	background-color: var(--light-brown);
}

footer {
	position: absolute;
	padding: 20px;
	left: 0;
	bottom: 0;
	height: 15vh;
	width: 100%;
	background-color: var(--medium-brown);
}

footer p {
	font-size: 20px;
	text-align: center;
	color: var(--dark-brown);
}
